{% extends 'basic.html' %}
{% block head %}
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
{% endblock head%}

{% block css %}
<style>
	body {
		background-color: white;
	}

	.container {
		margin: 10%;
		border-radius: 9px;
		background-color: #1c2237;

	}

	.main {
		margin: 3%;
		font-size: 25px;
	}
</style>
{% endblock css %}


{% block body %}
<div class="container">
	<div class="main">
		<h1 style="color:rgb(255, 253, 254); text-align:center; font-family: Arial, Helvetica, sans-serif;">Create Your
			Book And show Your Ideas</h1>
		<br>
		{% for message in messages %} {% if "Exists" in message %}
		<h6 class="text-danger">{{ message }}</h6>
		{% else %}
		<h6 class="text-white">{{ message }}</h6>
		{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
		<main class="maine" role="main">
			<div class="JCYvY">
				<form method="POST" action="/all/upload/" enctype="multipart/form-data">
					{% csrf_token %}


					<div class="im">
						<div class="claas">
							<h3 class="h33" style="color: azure;">Add Image Here</h3>
						</div>
						<div class="cVwHB" style="color: azure;">
							Must be a JPG or PNG file. The minimum recommended size is 492 x
							762 pixels.
						</div>

						<input style="color: azure;" accept="image/jpg, image/png, image/jpeg" class="YeWti" name="imgs"
							type="file" />
						<br>
						<!--             
            <input  accept="image/jpg, image/png, image/jpeg" class="Yei"  multiple name="imgall" multiple  type="file"/> -->
						<br>
						<br>
						<br>
						<label for="Book_name" style="color: azure;">Book_name</label>
						<input type="text" class="form-control" id="title" name="book_name" placeholder="Book_name ">
					</div>
					<div class="form-group">
						<label for="name" style="color: azure;">Description</label>
						<textarea id="editor" name="book_desc" rows="50" col="80" placeholder="Book_description"
							style="color: black"></textarea>
					</div>
					<br>
					<button class="btn " type="submit"
						style="width: 20%; font-size: 25px; color: aliceblue; margin-left: 80%; background-color: rgb(8, 216, 25);">Post</button>
					<br>
					<br>
				</form>
			</div>
	</div>

	{% else %}

	<h2><a href="/login"></a></h2>

	{% endif %}
</div>
<br />
<br />
<br />

{% endblock body%}

{% block js%}
<script>
	ClassicEditor
		.create(document.querySelector('#editor'))
		.then(editor => {
			console.log(editor);
		})
		.catch(error => {
			console.error(error);
		});
</script>
{% endblock js%}